{% extends "base.html" %}
{% block title %}add license plate #{% endblock %}
{% block heading %}add license plate #{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 80px;">
        <form action="#" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="License Number" name="addLicense" required>
                <label for="floatingInput">license plate #</label>
            </div>
            <button type="submit" value="submit" class="btn btn-outline-primary">submit</button>
        </form>
    </div>
{% endblock %}