{% extends "base.html" %}
{% block title %} My Payment Info {% endblock %}
{% block heading %} My Payment Info {% endblock %}

{% block content %}
<script src="https://js.stripe.com/v3/"></script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <!-- Display user's stored cards -->
            <h4 class="text-center mb-3">Your Card:</h4>
            {% if card is none %}
                <h5 class="text-center mb-3">No card on file</h5>
            {% else %}
                <div class="card mb-2">
                    <div class="card-body">
                        {{ card.card.brand }} ending in {{ card.card.last4 }} (exp. {{ card.card.exp_month }}/{{ card.card.exp_year }})
                    </div>
                </div>
            {% endif %}


            <!-- Add a new card form -->
            <h4 class="text-center mt-5 mb-3">New Card:</h4>
            <form action="{{ url_for('add_card') }}" method="post" id="payment-form">
                <div class="form-row mb-3">
                    <label for="card-element">Credit or debit card</label>
                    <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>
                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Add/Modify Card</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    var stripe = Stripe('pk_test_51NvUfwDjldMXbWwW1ABnUP5afYflCka8iVYuVAqQIYwEaSin1DLgXOTDXgQdze0r7evArmMI0lcGGjtJfVbxUNdY00JaqmlBGk'); // Replace with your Stripe publishable key
    var elements = stripe.elements();

    // Create an instance of the card Element
    var card = elements.create('card');

    // Add an instance of the card Element into the `card-element` div
    card.mount('#card-element');

    // Handle validation errors from the card Element.
    card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Handle form submission
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {
                // Inform the user if there was an error
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server
                stripeTokenHandler(result.token);
            }
        });
    });

    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
    }
</script>

{% endblock %}
